.node {
  width: 25px;
  height: 25px;
  border: 1px solid rgb(175, 216, 248);
  margin-left: -1px;
  margin-bottom: -1px;
  display: inline-block;
}

.node-start {
  background: url(../imgs/start.svg);
  background-color: rgb(248, 248, 83);
  border: none;
  animation-name: startAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes startAnimation {
  0% {
    transform: scale(0.8);
    background-color: rgb(248, 248, 83);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(248, 248, 83);
  }

  100% {
    transform: scale(1);
    background-color: rgb(248, 248, 83);
  }
}

.node-end {
  background: url(../imgs/end.svg);
  background-color: rgb(248, 248, 83);
  border: none;
  animation-name: endAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes endAnimation {
  0% {
    transform: scale(0.8);
    background-color: rgb(248, 248, 83);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(248, 248, 83);
  }

  100% {
    transform: scale(1);
    background-color: rgb(248, 248, 83);
  }
}

.node-three {
  width: 24px;
  height: 23px;
  margin-left: -1px;
  display: inline-block;
  background: url(../imgs/w3.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: threeAnimation;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes threeAnimation {
  0% {
    transform: scale(0.6);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.node-five {
  width: 24px;
  height: 23px;
  margin-left: -1px;
  display: inline-block;
  background: url(../imgs/w5.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: threeAnimation;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes fiveAnimation {
  0% {
    transform: scale(0.6);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.node-eight {
  width: 24px;
  height: 23px;
  margin-left: -1px;
  display: inline-block;
  background: url(../imgs/w8.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: threeAnimation;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes eightAnimation {
  0% {
    transform: scale(0.6);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.node-wall {
  border: 1px solid rgb(11, 47, 63);
  background-color: rgb(11, 47, 63);
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.6);
    background-color: rgb(11, 47, 63);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(11, 47, 63);
  }

  100% {
    transform: scale(1);
    background-color: rgb(11, 47, 63);
  }
}

.node-visited-nonanimated {
  background-color: rgba(0, 190, 218, 0.75);
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(82, 82, 189, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(255, 127, 77, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.node-path-nonanimated {
  border: 1px solid rgb(248, 248, 83);
  background-color: rgb(248, 248, 83);
}

.node-path {
  border: 1px solid rgb(248, 248, 83);
  animation-name: pathAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes pathAnimation {
  0% {
    transform: scale(0.6);
    background-color: rgb(248, 248, 83);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(248, 248, 83);
  }

  100% {
    transform: scale(1);
    background-color: rgb(248, 248, 83);
  }
}

#row {
  line-height: 0;
}

.grid {
  margin: 90px 0 0;
}
