.node {
  width: 25px;
  height: 25px;
  margin-left: 1px;
  outline: 1px solid black;
  display: inline-block;
}

.node-start {
  background-color: green;
}

.node-end {
  background-color: red;
}

.node-wall {
  background-color: purple;
}

div {
  line-height: 1;
}

.grid {
  margin: 70px 0 0;
}
