.node {
  width: 25px;
  height: 25px;
  border: 1px solid rgba(91, 153, 247, 0.918);
  display: inline-block;
}

.node-start {
  animation-name: startAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes startAnimation {
  0% {
    transform: scale(0.8);
    background-color: green;
  }

  50% {
    transform: scale(1.2);
    background-color: green;
  }

  100% {
    transform: scale(1);
    background-color: green;
  }
}

.node-end {
  animation-name: endAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes endAnimation {
  0% {
    transform: scale(0.8);
    background-color: red;
  }

  50% {
    transform: scale(1.2);
    background-color: red;
  }

  100% {
    transform: scale(1);
    background-color: red;
  }
}

.node-wall {
  background-color: rgb(11, 47, 63);
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.6);
    background-color: rgb(11, 47, 63);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(11, 47, 63);
  }

  100% {
    transform: scale(1);
    background-color: rgb(11, 47, 63);
  }
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(82, 82, 189, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(255, 127, 77, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(1, 90, 206, 0.75);
  }
}

.node-path {
  animation-name: pathAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes pathAnimation {
  0% {
    transform: scale(0.6);
    background-color: yellow;
  }

  50% {
    transform: scale(1.2);
    background-color: yellow;
  }

  100% {
    transform: scale(1);
    background-color: yellow;
  }
}

#row {
  line-height: 0;
}

.grid {
  margin: 70px 0 0;
}
